.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: powderblue;
    .login_email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login_password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login_buttons {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
}
